<div class="container">
  <ul>
    <% if session[:id] %>
    <li><a href="/users/<%= @user.id %>">Hello <%= @user.name %></a></li>
    <% else %>
    <li><a href="/users/new">Sign up</a></li>
    <li><a href="/users/login">Log in</a></li>
    <% end %>
  </ul>
</div>
<div class="container">
  <h1>Posts by <%= @author.name %></h1>
    <% @posts.each do |post|%>
      <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
      <p><%= post.content %></p>
      <hr/>

    <% end %>
</div>
<div class="container button">
  <% if session[:id] %>
  <h2><a href="/posts/new">Share your thoughts</a></h2>
  <%  end %>
</div>


