<div class="container">
  <h1>Share your Thoughts</h1>
  <form action='/posts/edit/<%=@post.id %>' method="post">
    <label for 'title'> Title: </label><br />
    <input type="text" name="title" value="<%= @post.title %>"></input><br />
    <label for 'content'> Your awesome opinion: </label><br />
    <textarea rows='15' cols='60' name="content"/><%=@post.content%></textarea><br />
    <label for 'tags'> Pick tags that express your feelings: </label>
      <% @tags.each do |tag|%>
        <input name="<%= tag.id %>" type='checkbox' value="____tag_id____"><%= tag.name %></input>
      <% end %>

    <input type='submit' class='submit_button' ></input>
  </form>

</div>